/* Utility Classes */
.box {
    float: none; /* Or 'clear:both' instead*/
    width: auto;
}

/* Navbar */
#navbar #logo {
    float: none;
    text-align: center;
}

/* if you use only '#navbar li' it will not overwrite the original style, because in style.css you wrote '#navbar ul li' which is more specific and css will give it the importance */
#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li:last-child {
    margin-bottom: 12px;
}

#navbar ul li a {
    padding: 5px;
}

/* Home Info */
#home-info {
    height: 420px;
}

#home-info .info__img {
    display: none;
}

#home-info .info__content {
    float: none;
    width: auto;
}

